/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/* - - MOBILE VIEW - -*/

header {
    background-color: #36bac9;
    color: #fff;
}

.logo-comb a {
    display: flex;
    flex-direction: row;
}

.logo-comb h2 {
    align-self: center;
    margin: 0.3rem 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.logo {
    margin: 0;
    padding: 0;
    height: 3rem;
    width: auto;
}

header div a {
    border: none;
}

header a {
    font-family: "Spectral SC", serif;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 2px solid #fff;
}

nav {
    border-bottom: 2px solid #fff;
}


/* - - MAIN CONTENT - - */


main {
    max-width: 1200px;
    margin: auto;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info h3 {
    font-family: "Spectral SC", serif;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.3rem;
    padding: 0.5rem;
}

hr {
    width: 90%;
    height: 0.2rem;
    margin: auto;
    color: #36bac9;
    background-color: #36bac9;
}

.info p {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    line-height: 1.5rem;
}

.map {
    width: 90%;
    margin: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.3rem;
}

.map iframe {
    width: 100%;
    height: 25rem;
}

/* - - TABLES - - */


.container-tabel {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    min-height: 15rem; 
    border-left: 0.2rem solid #36bac9;
    border-right: 0.2rem solid #36bac9;
    border-radius: 0.4rem;
}

.container-tabel thead th {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: #36bac9;
    color: #ffffff;
    font-weight: bold;
} 

.container-tabel address a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.content-table th,
.content-table td {
    padding: 0.4rem;
}

.content-table tbody tr {
    border-bottom: 0.2rem solid #36bac9;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: rgb#36bac9;
}

p,
li,
.content-table,
form input,
form label,
form textarea {
    font-family: "Play", sans-serif;
}


/* - - FORM - - */

.data-form {
    margin: 2rem 0;
    text-align: center;
}

form input,
form label,
form textarea {
    display: block;
    font-size: 1.3rem;
    border-radius: 0.4rem;
}

form input,
form textarea {
    margin: auto;
    width: 80%;
}

form button {
    font-size: 1.3rem;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    background: #36bac9;
    border: none;
    color: black;
    cursor: pointer;
    width: 80%;
    border-radius: 0.4rem;
}


/* - - FOOTER - - */


footer {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #d3d3d3;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 0.5rem;
    margin: 0.5rem;
}

.fa {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    padding: 0.5rem;
    font-size: 4rem;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3rem;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.fa-pinterest-p {
    background-color: #cc0000;
    color: #fff;
}

.fa-instagram {
    background-color: #9a009a;
    color: #fff;
}


/* - - STYKING - - */


.logo-comb img:hover,
.logo-comb h2:hover,
nav a:hover {
    background-color: #fff;
    color: #36bac9;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0 0.5em 0.5em -0.4em #fff;
    transform: translateY(-0.25em);
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #36bac9;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    box-shadow: 0 0.5em 0.5em -0.4em #36bac9;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.logo-comb img,
.logo-comb h2,
nav a,
button {
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}


/* - - ADJUSTING FOR MORE SCREEN SIZES - - */


@media screen and (min-width: 50em) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-comb {
        flex: 2;
    }

    header nav {
        flex: 1;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    nav,
    nav a {
        border: none;
    }

    section {
        margin: 1rem;
        padding: 1rem;
    }

    hr,
    map,
    .info p {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 70em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info form" "map map";
        gap: 0.1rem;
        width: 90%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    }

    .info {
        grid-area: info;
        border-right: 0.3rem solid #36bac9;
        margin: 1rem;
    }

    .info h3,
    .info p {
        width: 80%;
        margin: auto;
    }

    .info p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .data-form {
        grid-area: form;
    }

    .map {
        grid-area: map;
    }

    .map iframe {
        width: 100%;
        height: 35rem;
    }
}